<!-- =========================================
     AL-DAHAYAN REUSABLE BREADCRUMBS
========================================= -->

<nav
  class="breadcrumbs-component"
  data-component="breadcrumbs"
  aria-label="Breadcrumb"
>

  <ol
    class="breadcrumbs-list"
    data-breadcrumbs-list
  >

    <!-- Home -->

    <li class="breadcrumb-item">

      <a
        href="../index.html"
        class="breadcrumb-link"
        data-breadcrumb-home
      >
        Home
      </a>

    </li>


    <!-- Separator -->

    <li
      class="breadcrumb-separator"
      aria-hidden="true"
    >
      /
    </li>


    <!-- Current Page -->

    <li
      class="breadcrumb-item breadcrumb-current"
      aria-current="page"
    >

      <span
        class="breadcrumb-current-label"
        data-breadcrumb-current
      >
        Current Page
      </span>

    </li>

  </ol>

</nav>
